@model RedefinePasswordModel
@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Redefinir Senha";
}

@if (TempData["MessageErr"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MessageErr"]
    </div>
}

@if (TempData["MessageSucess"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<form asp-controller="Login" asp-action="SendLinkToResetPassword" method="post">
    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" id="email">
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary w-100">Redefinir Senha</button>
    </div>

    <div class="mb-3">
        <a class="btn btn-secondary w-100" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
    </div>
</form>