@model ContactModel
@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">
    <h1>Editar contato</h1>
</div>

<form asp-controller="Contact" asp-action="Put" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input name="name" asp-for="Name" class="form-control" id="name" type="text" placeholder="Digite o nome" />
        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input name="email" asp-for="Email" class="form-control" id="email" type="email" placeholder="Digite o email" />
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Telefone:</label>
        <input name="phoneNumber" asp-for="PhoneNumber" class="form-control" id="phoneNumber" type="text" placeholder="Digite o telefone" />
        @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary w-100">Alterar</button>
    </div>

    <div class="mb-3">
        <a class="btn btn-secondary w-100" asp-controller="Contact" asp-action="Index" role="button">Voltar</a>
    </div>
</form>